.footer{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg,#ff5edfbd 0%,#04c8de73 100%);
    padding : 5px;
    margin:15px;
    opacity: 0.9;

}
.footer h1{
    font-size: 15px;
}
.footer button {
    margin-left:15px;
}