.main {
    background-color: #ff5edf6f;
    padding:50px 10vw;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    border-radius: 10px;
    margin:15px;
    height:400px;
}